
<div class="row">
  <div class="col-lg-8">
    <h4 class="pencil text-center">参考文献を登録しましょう</h4>
    <%= render "public/patches/show",{patch: @patch} %>
  </div>
  <div class="col-lg-4">
    <%= link_to new_text_patch_order_path(@patch.text, @patch) ,class: "next-btn2" do%>
      <span>パッチテキストと</br>他コラム等を</br>結びつける</span>
    <% end %>

    <div class="sidebar-index">
      <div class="patch_literature">
        <%= render 'public/literatures/text_patch_new', {text: @text, literature: @literature, patch: @patch} %>
      </div>
    </div>
  </div>
</div>