// Place all the styles related to the public/Texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cGreen: #87C9B9;
$cDarkGreen: #60d1b7;
$cLightGreen: #cdebe4;
.sample-text{
  width: 100%;
  box-shadow: none;
  padding: 2rem 1rem;
  margin: 30px 10px;
  border-radius: 1rem;
  border: solid 0.5rem $cGreen;
  background-color: white;
  &::before{
    content: 'このような\A見た目に\Aなります。';
    padding: 1rem;
    position: absolute;
    font-size: 0.9rem;
    top: 20px;
    transform: rotate(20deg);
    right: -20px;
    white-space: pre;
    text-align: center;
    background-color: $cGreen;
    color: white;
    border-radius: 3rem;
  }
}
#text-edit-cog{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.5s;
  & .btn-not{
    display: inline;
  	background: none;
  	border: none;
  	outline: none;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
    color: #707070;
  }
  & button:hover{
    color: $cGreen;
  }
}
.next-btn{
  margin: 60px 0.5rem;
  display: block;
  background-color: white;
  padding: 3px 5px;
  border-radius: 5px;
  width: 150px;
  height: 100px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
  border: solid 1px $cGreen;
  background-color: $cGreen;
  white-space: pre;
  &:hover{
    text-decoration: none;
    background-color: $cLightGreen;
    color: white;
    &::before{
      border-left:100px solid $cLightGreen;
    }
  }
  &::before {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:100px solid transparent;
    border-left:100px solid $cGreen;
    left:160px;
    top: 10px;
  }
  & span{
    display: inline-block;
  }
}
