// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar-user{
  .icon-image{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
}