<div class="row">
  <div class="col-lg-9">
    <% @columns.each do |column| %>
      <%= render "public/columns/mini_show",{column: column} %>
    <% end %>
    <%= paginate @columns %>
  </div>
  <div class="col-lg-3">
    <div class="sidebar-index">
      <h4 class="index">目次</h4>
      <%= render "layouts/content_sidebar",{texts: nil, patches: nil, columns: @columns, problems: nil} %>
    <div class="sidebar-index">
  </div>
</div>





<script>
  $('table').wrap('<div class="table-scroll">');
</script>