<%= form_with url: admin_text_ajax4_path(text), method: :get, remote: true  do |f| %>
  <h4>章</h4>
  <%= f.collection_select(:chapter, chapters, :id, :body, {prompt: "章を選択してください"}, {class: "ajax4-select-drop form-control" }) %>
  <span style="display: none;"><%= f.submit :class=>"ajax4-submit"%></span>
<% end %>


<script>
  $('.ajax4-select-drop').change(function() {
    $('.ajax4-submit').click();
  });
</script>