<%= form_with url: admin_text_ajax2_path(text), method: :get, remote: true  do |f| %>
  <h4>教科書</h4>
  <%= f.collection_select(:textbook_list, textbook_lists, :id, :title, {prompt: "教科書を選択してください"}, {class: "ajax2-select-drop form-control" }) %>
  <span style="display: none;"><%= f.submit :class=>"ajax2-submit"%></span>
<% end %>


<script>
  $('.ajax2-select-drop').change(function() {
    $('.ajax2-submit').click();
  });
</script>