<div class="patch-view sample-patch">
  <h1>h1平均とは</h1>
  <p>何個かの大きさや量を…</p>
  <h2>h2平均とは</h2>
  <p>何個かの大きさや量を…</p>
  <h3>h3平均とは</h3>
  <h4>h4平均とは</h4>
  <h5>h5平均とは</h5>
  <h6>h6平均とは</h6>
  <table>
    <thead>
      <tr>
        <th>Col1</th>
        <th>Col2</th>
        <th>Col3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Text</td>
        <td>Text</td>
        <td>Text</td>
      </tr>
    </tbody>
  </table>
  <ol>
    <li>平均</li>
    <li>人口密度</li>
  </ol>
  <ul>
    <li>平均</li>
    <li>人口密度</li>
  </ul>
  <blockquote>
    <p>参考　「〇〇〇〇〇〇〇」</p>
  </blockquote>
</div>