<div class="row">
  <div class="col-lg-9">
    <%= render "public/texts/show",{text: @text} %>
    <% @patches.each do |patch| %>
      <%= render "public/patches/show",{patch: patch} %>
    <% end %>
  </div>
  <div class="col-lg-3">
    <div class="sidebar-index">
      <h4 class="index">目次</h4>
      <%= render "layouts/main_content_sidebar",{text: @text ,problem: nil, column: nil, patch: nil} %>
      <%= render "layouts/content_sidebar",{texts: nil, patches: @patches, columns: nil, problems: nil} %>
    </div>
  </div>
</div>



