<h1>Public::Activities#index</h1>
<p>Find me in app/views/public/activities/index.html.erb</p>
<% if @activities.present? %>
  <% @activities.each do |activity| %>
    <%= render "#{activity.action_type}" ,{activity: activity} %>
  <% end %>
<% else %>
  <p>お知らせはありません。</p>
<% end %>