// Place all the styles related to the admin/admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cGreen: #87C9B9;
$cDarkGreen: #60d1b7;
$cLightGreen: #cdebe4;

$cPencil: #707070;
$cLightPencil: #D9D9D9;

.admin_sidebar-content{
  margin: 20px 10px;
  padding: 0 5px;
  border-bottom: solid 1px $cLightPencil;
  & a{
    padding: 5px;
  }
}