<div class="row loose-leaf">
  <div class ="col-xl-3">

  </div>
  <div class="col-xl-9">
    <div class="activities-box">
      <div class="text-center my-2 menu-item">
        <h2 class="heading01">notification</h2>
      </div>
      <% if @activities.present? %>
        <% @activities.each do |activity| %>
          <div class="activity-box">
            <%= render "#{activity.action_type}" ,{activity: activity} %>
          </div>
        <% end %>
      <% else %>
        <p>お知らせはありません。</p>
      <% end %>
    </div>
  </div>
</div>
