<% if bookmark.marked_content_type == "Column" %>
  <h2 class="heading02">Column</h2>
  <%= render "public/columns/mini_show",{column: bookmark.marked_content} %>
<% elsif bookmark.marked_content_type == "Text"%>
  <h2 class="heading01">Text</h2>
  <%= render "public/texts/mini_show",{text: bookmark.marked_content} %>
<% elsif bookmark.marked_content_type == "Patch"%>
  <h2 class="heading04">Patch</h2>
  <%= render "public/patches/mini_show",{patch: bookmark.marked_content} %>
<% elsif bookmark.marked_content_type == "Problem"%>
  <h2 class="heading03">Problem</h2>
  <%= render "public/problems/mini_show",{problem: bookmark.marked_content} %>
<% end %>