/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

div{
  // background-image: url("dot-grid.png");
  background-image: url("linedpaper.png");
}

body{
  background-color: #F0F4F4;
}
.logo{
  height: 45px;
}
.cp_hr08 {
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #ffffff;
}
.post-area{
  border: 1px solid black;
  padding: 10px;
  max-width: 540px;
  min-width: 300px;
  min-height: 150px;
  position: fixed;
  z-index: 1;
  bottom: 10px;
  right: 15%;
  background: $white;
}

$cWhite : white;
$cGreen: #46A2A0;
$cPurple: #a03c8b;
.box1{
  width: 100%;

  padding: 0.5em 1em;
  margin: 20px 0;
  color: #474747;
  background: $white;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
}
.box3{
  position: relative;
  background-color: $cWhite;
  padding: 30px;
  &::before{
    content: "";
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#999 30%, rgba(0, 0, 0, 0) 31%), radial-gradient(#999 30%, rgba(0, 0, 0, 0) 31%);
    background-size: 6px 6px;
    background-position: 0 0, 3px 3px;
    z-index: -1;
  }
}

.box4{
  background: $cWhite;
  h2{
  position: relative;
  height: 100px;
  margin-right: 200px;
  padding: 1.5rem 3rem 0 2rem;
  word-break: break-all;
  color: #fff;
  background: rgb(221, 150, 150);
  &::after{
    position: absolute;
    top: 0;
    right: -100px;
    width: 0;
    height: 0;
    content: '';
    border-width: 100px 100px 0 0;
    border-style: solid;
    border-color: rgb(221, 150, 150) transparent transparent transparent;
  }
  & span{
    font-size: 40px;
    font-size: 4rem;
    position: absolute;
    top: 0;
    right: -200px;
    display: block;
    padding-top: 3px;
    padding-left: 16px;
    color: #000;

  }
  }

}
.box5{
  background: $cWhite;
  & h2{
    &.main{
      position: relative;
      display: inline-block;
      margin: 1rem 0 1rem -10px;
      padding: 1rem 3rem;
      color: #FFF;
      border-radius: 0 100vh 100vh 0;
      background: $cGreen;
      -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
      box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    }
    &::before{
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 0;
      content: '';
      border-top: 10px solid $cGreen;
      border-left: 10px solid transparent;
    }
  }
}