<div class="row">
  <div class="col-lg-9">
    <% @problems.each do |problem| %>
      <%= render "public/problems/mini_show",{problem: problem} %>
    <% end %>
    <%= paginate @problems %>
  </div>
  <div class="col-lg-3">
    <div class="sidebar-index">
      <h4 class="index">目次</h4>
      <%= render "layouts/content_sidebar",{texts: nil, patches: nil, columns: nil, problems: @problems} %>
    <div class="sidebar-index">
  </div>
</div>


<script>
  $('.problem-view').children('h3').wrap('<div class="h3-div">');
  $('.problem-view').children('table').wrap('<div class="table-scroll">');
</script>
