<h1>Public::Users#confirm</h1>
<p>Find me in app/views/public/users/confirm.html.erb</p>
<div class="container">
  <h2>本当に退会しますか？</h2>
    <div class="form-group row">
      <p>退会すると、会員登録情報や</br>
      これまでの購入履歴が閲覧できなくなります。</br>
      退会する場合は、「退会する」をクリックしてください。</p>
    </div>
    <div class="d-flex">
      <p class="text-center"><%= link_to '退会しない', user_path(@user), class: "sbtn btn-6 confirm" %></p>
      <p><%= form_with model: @user, url: user_destroy_path(@user), local: true do |f| %>
        <%= f.hidden_field :is_deleted, value: true %>
        <%= f.submit '退会する' %>
      <% end %>
      </p>
    </div>
</div>