<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>
<%=@user.name%>さんのマイページ
<%=@user.is_deleted%>

<%= link_to "退会", users_confirm_path(current_user) ,class: "btn btn-outline-secondary"%>